/*Kritika Uprety*/
    
#name {

    font-size: 13pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    float: left;
  padding:15px 0 0 0;
  word-spacing: 4px;
}

body{
    margin: 0;
    padding: 0;
    font-size: 100%;
    background-color: rgb(252, 217, 220);
    font-family: "utile", sans-serif;
    font-style: normal;
    line-height: 1.3;
    height: 90px;

}



p {
    font-weight: 200;
    word-spacing: 1.3px;

}



header {
    font-size: larger;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}


.move-up {
margin-left: 33%;   
margin-bottom: 2%;
width: 700px;
    
}


nav {
    margin-right: 2.6%;
    margin-left: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 1.1%;
    word-spacing: 1em;
    height: 80px;
}



nav li {
    vertical-align: middle;
    display: inline;
    margin-left: 11px;
}

#navbar-text{
    font-size: 13pt;
    float: right;
  padding:15px 0 0 0
}
nav li a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}


nav div li a:hover {
    color: #A41623;
    border-bottom: 1.2px solid #A41623;
}


  
footer {
    background-color: #E999A1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
}

footer small {
    color: white;
    text-align: center;

}

#wrapper {
    text-align: center;
    padding: 0px;
}


header h1 {
    position: relative;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 1.8%;
    color: black;
    text-align: left;
    letter-spacing: 1px;
    font-size: 64pt;
    top: 24px;

}

header h2 {
    position: relative;
    margin-top: 1.4%;
    color: black;
    text-align: left;
    letter-spacing: 1px;
    font-size: 32pt;
    font-weight: 600;
    top: -6px;

}

h1, h2 {
    padding-left: 5%;
}
p{
    font-size: 13.5pt;
    color: black;
    text-align: left;
    width: 550px;
 }

 img[src="images/user needs.png"] {
    width: 650px;
    height: auto;
    margin-bottom: 2.5%;
    }

img[src="images/design thinking.png"] {
    width: 650px;
    height: auto;
    }

img[src="images/rough sketch.png"] {
    width: 650px;
    margin-top: 0.2%;
    height: auto;
    }

    img[src="images/lofi-login.png"], img[src="images/lofi-dashboard.png"]  {
        width: 650px;
        height: auto;
        padding-left: 25%;
    }

    img[src="images/lofi-login.png"] {
       margin-bottom: -40px;
    }

    img[src="images/lofi-dashboard.png"] {
        margin-bottom: -40px;
     }


     img[src="images/hifi-login.png"], img[src="images/hifi-dashboard.png"]  {
        width: 650px;
        height: auto;
        padding-left: 25%;
    }

    img[src="images/hifi-login.png"] {
       margin-bottom: -40px;
    }

    img[src="images/hifi-dashboard.png"] {
        margin-bottom: -20px;
     }
    #view {
        color: white;
        background-color: black;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 13.5pt;
        border: black 2px solid;
        padding: 10px;
        width: 150px;
        margin-top: 20px;
        }
    
        #view:hover {
            cursor: pointer;
            color: black;
            background-color: white;
            border: white 2px solid;
    
        }
    
        .container {
            display: flex;
        }
        
        .container figure {
            flex: 1;
        }
        
        .container div {
            flex: 1;
        }
        
        .container img {
            width: 81%;
        }
        
        .container p:first-child {
            margin-top: 5%;
        }
        
        .container p:last-child {
            margin-top: 40px;
            font-size: 13.5pt;
            color: black;
            text-align: left;
            max-width: 81%;
        }
        
        .container button {
            margin: 20px auto;
            margin-right: 21%;
                }

#back{
    background-color: rgb(252, 217, 220);
    border: rgb(252, 217, 220) 2px solid;
    cursor:pointer;
    border:none;
    margin-right: 90%;
    margin-top: 0.2%;
}

#back img {
    width: 20%;
    height: auto;
}

.process-container {
    display: flex;
    justify-content: flex-start;
}

.process-container #left {
    width: 70%;
    text-align: justify;
    margin-left: 5%;
    box-sizing: border-box;
}

.process-container #right {
    width: 30%; 
    text-align: justify;
    margin-right: 8%;
    margin-top: -1%;
}


.process-container p {
    margin-top: 0;
}



h2 {
    position: relative;
    margin-top: 1.4%;
    color: black;
    text-align: left;
    letter-spacing: 1px;
    font-size: 32pt;
    font-weight: 600;

}




.process-container p {
    margin-top: 20px; 
}

.process-container #right p {
    width:450px;
    }

.process-container #left p {
    width:720px;    
}    


.bigger { 
    font-size:120%; 
    text-align:left;

}

.white-background {
    background-color: rgb(253, 243, 244);
    padding-top: 1%;
    padding-left: 1.8%;
    padding-bottom: 3.5%;
    margin-top: 3%;

}

.black-background {
    background-color: rgb(18, 18, 18);
    margin-top: -3.5%;
    padding-top: 1%;
    padding-left: 1.8%;
    padding-bottom: 0.5%;
    margin-bottom: -3.5%;
}

.black-background h2 {
    color: rgb(253, 243, 244);
    font-size: 40pt;

}

.paragraph-after-bold {
    margin-top: 20px;
}


.process-container #right p span {
    display: block;
    margin-top: 22px;
}


img[src="images/rough draft.png"] {
    width: 400px;
    height: 280px;
    margin-bottom: 20px;
}



.finalDesign {
    color: white;
    background-color: black;
}

.finalDesign h2 {
    top: 30px;
    color: rgb(255, 196, 202);
}
.finalDesign video {
    width: 800px;
    margin-bottom: 2%;

}


#space-on-top{
    margin-top: 13%;
}
.button-container {
    margin-bottom: 2.5%;
}

strong {
    font-weight: 500;
}
strong .description {
    font-size: 20pt;
    font-weight: 600;
}


.roughSketch {
    padding-left: 29%; 
}
.left {
    padding-left: 25%;
    width: 700px;

}

.process-container ul li {
    margin-left: 20px; 
}


.process {
    margin-top: 3.5%;
    margin-bottom: 4.5%;

}


.bigger #designThinking {
    margin-top: 50%;
}

.designThinking {
    font-size:380%; 
    text-align:left;

}

#lofi {
    font-size: 390%;
}

#lofiName {
    margin-bottom: -3.4%;
    margin-left: 25%;
}
 
#hifi {
    font-size: 450%;
}

#bolder {
font-weight: 600;
}

.enjoyed-improvements-container {
    display: flex;
    justify-content: space-between;
}

.enjoyed-list, .improvements-list {
    flex: 0 0 48%; 
}

.enjoyed-list {
    max-width: 200px;
    margin-left: 15%;
}

.improvements-list {
    max-width: 280px;

    margin-right: 28%;
}


.improvements li p {
    width: 400px;
}


.bolderTitle {
    font-weight: 600;
}


.userTesting { 
    font-size:120%; 
    text-align:left;
    padding-right: 70%;
}

.horizontal-container {
    display: flex;
    gap: 20px;
    padding-top: 2%; 
}

.item {
    flex: 1; /* makes all items the same width */
    max-width: 23%;
}

#horizontal-description {
    font-size: 18pt;
    display: block;
    width: auto;
    margin: 0 auto;
    flex: 1; /* makes all items the same width */
    text-align: center;
    margin-top: -3%;

}

.horizontal-bold {
    font-weight: bold;
    font-size: 13pt;
    display: block;
    width: auto;
    margin: 0 auto;


}

h3 {
    text-align: left;
    font-weight: 500;
    font-size: 20pt;
    margin-top: 3.5%;
    margin-left: 7.5%;
}

#the-problem {
    margin-left: 7.5%;
    margin-top: 2%;
    width:  84%;
}


ul li {
    text-align: left;

}

#accomplishment {
margin-top: -0.5%;
}

.accomplishment-list {
    margin-left: 7.5%;
}



 ul li p {
    
    margin-top: -0.5%;
    width:  84%;

}

ul li bold {
    
   font-weight: 500;

}


img[src="images/couplet/competitor analysis.png"] {
    width: 98%;
    height: auto;
}

img[src="images/couplet/user personas.png"] {
    width: 60%;
    height: auto;
}

img[src="images/couplet/existing competitors.png"] {
    width: 40%;
    height: auto;
}

img[src="images/couplet/brand values.png"] {
    width: 70%;
    height: auto;
}


img[src="images/couplet/moodboard.png"] {
    width: 60%;
    height: auto;
}


img[src="images/couplet/typography.png"] {
    width: 78%;
    height: auto;
}

img[src="images/couplet/logos and colors.png"] {
    width: 50%;
    height: auto;
}

img[src="images/couplet/create profile flow.png"] {
    width: 86%;
    height: auto;
}

img[src="images/couplet/discover events flow.png"] {
    width: 86%;
    height: auto;

}

img[src="images/couplet/matchmaking flow.png"] {
    width: 86%;
    height: auto;  
}

img[src="images/couplet/login.png"] {
    width: 50%;
    height: auto; 
}

img[src="images/couplet/onboarding.png"] {
    width: 50%;
    height: auto; 
}

img[src="images/couplet/events.png"] {
    width: 50%;
    height: auto; 
}

img[src="images/couplet/matches.png"] {
    width: 50%;
    height: auto; 
}

img[src="images/couplet/profile.png"] {
    width: 50%;
    height: auto; 
}

img[src="images/couplet/brand book mockup.png"] {
    width: 60%;
    height: auto;

}

img[src="images/couplet/next steps.png"] {
    width: 60%;
    height: auto;
}

img[src="images/couplet/takeaways.png"] {
    width: 48%;
    height: auto;
}

