/*Kritika Uprety*/
body {
    margin: 0;
    padding: 0;
    font-size: 100%;
    background-color: rgb(252, 217, 220);
    font-size: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h3 {
    text-align: center;
    color: white;
    font-size: 25pt;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

header {
    font-size: larger;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.description {
    padding-top: 2%;
    margin: 0 auto;
    width: 800px;
    margin-bottom: 6%;

}

.description p {
    color: white;
    font-weight: 300;
    width: 800px;
    text-align: center;
    font-size: 12.5pt;
    line-height: 170%;
}

nav {
    margin-right: 2.8%;
    margin-left: auto;
    padding-left: 1.5%;
    padding-right: 1.5%;
    padding-bottom: 1.0%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    padding-top: 1.0%;

    word-spacing: 1em;
    height: 80px;
}


#name img#logo {
    width: 19px;        /* keeps it 40px wide */
    height: 19px;       /* keeps it 40px tall */
    vertical-align: middle;  /* aligns with the text */
    margin-right: -5px;       /* space between logo and text */
    padding-bottom: 4px;
}



nav li {
    vertical-align: middle;
    display: inline;
    margin-left: 11px;
}

#navbar-text{
    font-size: 13pt;
    float: right;
  padding:15px 0 0 0
}
nav li a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s ease; 
}

nav li a:hover,
nav li a.current {
    color: #A41623;
    background-color: #f3b9cc; 
    border-radius: 5px;
    padding: 2px 4px;
}

.logo-link:hover,
.logo-link:active {
    background-color: transparent;  /* no pink */
    color: inherit;                 /* keep original color */
}
  
    
#name {

    font-size: 13pt;

    float: left;
  padding:15px 0 0 0;
  word-spacing: 4px;
}

  
  
footer {
    background-color: #f3b9cc;
    padding-top: 55px;
    padding-bottom: 50px;
    border-top: 3px dotted #d97b83;
    position: relative;
}

footer img {
    position: absolute;
    right: 192px;
    bottom: 28px;   /* adjust to place it nicely */
    width: 90px;    /* controls size */
    pointer-events: none; 
}

.external-icon {
    font-family: system-ui, sans-serif;
}

footer .all-footer-content {
    margin-left: 180px;

}

footer .footer-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* left align */
}

footer .footer-credit {
    font-size: 1.4rem; /* larger text */
    font-weight: 600;
    color: black;
    margin-bottom: 2px;

}

footer .love-made {
    font-size: 1.0rem;
    margin-bottom: 12px;
    color: black;

}

footer .heart {
    color: #A41623;
    padding: 0 3px;
}

footer .footer-links {
    display: flex;
    flex-direction: column; /* stack links */
    font-size: 1.3em;
    gap: 8px;
    text-align: left;
}

footer .footer-links a {
    color: #A41623;
    text-decoration: underline;
    font-weight: 500;
    border-radius: 5px; /* same as hover */
    transition: all 0.3s ease; 

 }
 
 
 footer .footer-links a:hover {
    color: #A41623;
    background-color: rgb(250, 227, 227);
    border-radius: 5px;
    padding: 2px 4px;
 }
 


#wrapper {
    text-align: center;
    padding: 0px;
}


header h1 {
    position: relative;
    margin-top: 1.8%;
    color: rgb(22, 22, 22);
    text-align: left;
    letter-spacing: 1px;
    font-size: 64pt;
    top: 24px;

}

header h2 {
    position: relative;
    margin-top: 1.4%;
    color: rgb(22, 22, 22);
    text-align: left;
    letter-spacing: 1px;
    font-size: 32pt;
    font-weight: 600;
    top: -6px;

}

h1, h2 {
    padding-left: 5%;
}
p{
    font-size: 13.5pt;
    color: black;
    text-align: left;
    width: 550px;
 }

img:not(footer img) {
    width: auto;
    height: 400px;

    }


    #view {
        color: white;
        background-color: rgb(22, 22, 22);
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 13.5pt;
        border: rgb(22, 22, 22) 2px solid;
        padding: 10px;
        width: 150px;
        margin-top: 20px;
        }
    
        #view:hover {
            cursor: pointer;
            color: black;
            background-color: white;
            border: white 2px solid;
    
        }
    
        .container {
            display: flex;
        }
        
        .container figure {
            flex: 1;
        }
        
        .container div {
            flex: 1;
        }
        
        .container img {
            width: 550px;
        }
        
        .container p:first-child {
            margin-top: 5%;
        }
        
        .container p:last-child {
            margin-top: 40px;
            font-size: 13.5pt;
            color: black;
            text-align: left;
            max-width: 550px;
        }
        
        .container button {
            margin: 20px auto;
            margin-right: 21%;
                }

#back{
    background-color: rgb(252, 217, 220);
    border: rgb(252, 217, 220) 2px solid;
    cursor:pointer;
    border:none;
    margin-right: 90%;
    margin-top: 0.2%;
}

#back img {
    width: 20%;
    height: auto;
}

.process-container {
    display: flex;
    justify-content: flex-start;
}

.process-container #left {
    width: 70%;
    text-align: justify;
    margin-left: 5%;
    box-sizing: border-box;
}

.process-container #right {
    width: 30%; 
    text-align: justify;
    margin-right: 8%;
    margin-top: -1%;
}


.process-container p {
    margin-top: 0;
}


h2 {
    position: relative;
    margin-top: 1.4%;
    color: black;
    text-align: left;
    letter-spacing: 1px;
    font-size: 32pt;
    font-weight: 600;

}




.process-container p {
    margin-top: 20px; 
}

.process-container #right p {
    width:450px;
    }

.process-container #left p {
    width:720px;    
}    


.bigger { font-size:120%; 

}

.white-background {
    background-color: rgb(22, 22, 22);
    padding-top: 2.5%;
    padding-left: 1.8%;
    padding-bottom: 3.5%;
    margin-top: 3%;
}

.white-background h2 {
    color: white;
}

.paragraph-after-bold {
    margin-top: 20px;
}

.bold {
    font-weight: bold;
}
.process-container #right p span {
    display: block;
    margin-top: 22px;
}


img[src="images/rough draft.png"] {
    width: 400px;
    height: 280px;
    margin-bottom: 20px;
}

img[src="images/type-for-change/type sketch 1.jpg"] {
padding-right: 2%;
}

img[src="images/type-for-change/type sketch 2.jpg"] {
    padding-left: 2%;
    }

    
.process p {
    margin-left: 75px;
}

.process {
    margin-top: 3.5%;
    margin-bottom: 3.5%;
}

.finalDesign {
    color: white;
    background-color: rgb(22, 22, 22);
}

.finalDesign h2 {
    top: 30px;
    color: rgb(255, 196, 202);
}
.finalDesign video {
    width: 800px;
    margin-bottom: 2%;

}



.button-container {
    margin-bottom: 2.5%;
}


.kirang-haerang-regular {
    font-family: "Kirang Haerang", system-ui;
    font-weight: 100;
    font-style: normal;
    text-transform: lowercase;
    color: #2b140d;

  }

  a#name.kirang-haerang-regular {
    font-size: 1.9rem; /* bigger and absolute */
}