/*Kritika Uprety*/
body {
    margin: 0;
    padding: 0;
    font-size: 100%;
    background-color: rgb(254, 212, 217);
    font-size: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


header {
    font-size: larger;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

header h1 {
    position: relative;
    margin-top: 1.4%;
    color: #C75862;
    letter-spacing: 1px;
    font-size: 3.8em;
}


nav {
    margin-right: 2.8%;
    margin-left: auto;
    padding-left: 1.5%;
    padding-right: 1.5%;
    padding-bottom: 1.0%;

    padding-top: 1.0%;

    word-spacing: 1em;
    height: 80px;
}

#name img#logo {
    width: 19px;        /* keeps it 40px wide */
    height: 19px;       /* keeps it 40px tall */
    vertical-align: middle;  /* aligns with the text */
    margin-right: -5px;       /* space between logo and text */
    padding-bottom: 4px;
}




nav li {
    vertical-align: middle;
    display: inline;
    margin-left: 11px;
}

#navbar-text{
    font-size: 13pt;
    float: right;
  padding:15px 0 0 0
}
nav li a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s ease; 
}

nav li a:hover,
nav li a.current {
    color: #A41623;
    background-color: #f3b9cc; 
    border-radius: 5px;
    padding: 2px 4px;
}

.logo-link:hover,
.logo-link:active {
    background-color: transparent;  /* no pink */
    color: inherit;                 /* keep original color */
}
    
#name {

    font-size: 13pt;

    float: left;
  padding:15px 0 0 0;
  word-spacing: 4px;
}





#wrapper {
    text-align: center;
    padding: 0px;
}

#wrapper h2, h3, p, footer {
    padding-left: 20px;
    padding-right: 20px;
}

footer {
    background-color: #f3b9cc;
    padding-top: 55px;
    padding-bottom: 50px;
    border-top: 3px dotted #d97b83;
    position: relative;
}

footer img {
    position: absolute;
    right: 192px;
    bottom: 28px;   /* adjust to place it nicely */
    width: 90px;    /* controls size */
    pointer-events: none; 
}

.external-icon {
    font-family: system-ui, sans-serif;
}

footer .all-footer-content {
    margin-left: 180px;

}

footer .footer-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* left align */
}

footer .footer-credit {
    font-size: 1.4rem; /* larger text */
    font-weight: 600;
    color: black;
    margin-bottom: 2px;

}

footer .love-made {
    font-size: 1.0rem;
    margin-bottom: 12px;
    color: black;

}

footer .heart {
    color: #A41623;
    padding: 0 3px;
}

footer .footer-links {
    display: flex;
    flex-direction: column; /* stack links */
    font-size: 1.3em;
    gap: 8px;
    text-align: left;
}

footer .footer-links a {
    color: #A41623;
    text-decoration: underline;
    font-weight: 500;
    border-radius: 5px; /* same as hover */
    transition: all 0.3s ease; 

 }
 
 
 footer .footer-links a:hover {
    color: #A41623;
    background-color: rgb(250, 227, 227);
    border-radius: 5px;
    padding: 2px 4px;
 }
 




#img-container {
    text-align: center;
    display: block;
}




#about_me {
    color: black;
    width: 650px;
    margin-left: 40%;
    margin-right: auto;
}

#about_me p {
    text-align: left;
    font-size: 13pt;
}

#connect {
    background-color: #E999A1;
    border: #E999A1 5px solid;
    font-weight: bold;
    margin-top: 3%;
    margin-right: 53%;
    height: 12%;
    width: 38%;
    font-size: 12pt;
    color: #A41623;
    border-radius: 20px;
    margin-bottom: 11.4%;
    transition: all 0.3s ease; 


}

#connect:hover {
    background-color: #A41623;
    border: #A41623 5px solid;
    cursor: pointer;
    font-weight: bold;
    margin-top: 3%;
    margin-right: 53%;
    height: 12%;
    width: 38%;
    font-size: 12pt;
    color: #E999A1;
    border-radius: 20px; 
}


img[src="images/heart.gif"] {
    position: absolute; 
    width: 4%;
    height: auto;
    top: 17%; 
    right: 36%; 
}



img[src="images/panda.gif"] {
    top: 180px;    
    right: 63%;
    width: 4.5%;
}

img[src="images/cat.gif"] {
    top: -35px;    

    right: 73%;
    margin-right: 5%;
    width: 5.2%; 
}


img[src="images/cat.gif"],
img[src="images/panda.gif"] {
    position: absolute;
    height: auto;
}


img[src="images/about_me.jpg"] {
    width: 20%;
    height: auto;
    display: block;
    margin-left: 15%;
    margin-right: auto; 
    border: 25px solid #A41623;
    border-radius: 50%;
    float: left;
    position: relative;
    top: -54px; 
}



.group-images figure {
    position: relative;
}

header {
    position: relative;
}

.kirang-haerang-regular {
    font-family: "Kirang Haerang", system-ui;
    font-weight: 100;
    font-style: normal;
    text-transform: lowercase;
    color: #2b140d;

  }

  a#name.kirang-haerang-regular {
    font-size: 1.9rem; /* bigger and absolute */
}