/*Kritika Uprety*/
body {
    margin: 0;
    padding: 0;
    font-size: 100%;
    background-color: rgb(254, 212, 217);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


header {
    font-size: larger;
    margin-right: auto;
    text-align: left;
    margin-left: 15%;
    margin-right: auto;
    margin-top: 5%;
    width: 80%; 

}

header h2 {
    position: relative;
    
    color: #A41623;
    letter-spacing: 1px;
    font-size: 40pt;

}

header p {
    margin-top: -3%;

    font-size: 13pt;
    width: 60%;
}


nav {
    margin-right: 2.8%;
    margin-left: auto;
    padding-left: 1.5%;
    padding-right: 1.5%;
    padding-bottom: 1.0%;

    padding-top: 1.0%;

    word-spacing: 1em;
    height: 80px;
}


#name img#logo {
    width: 19px;        /* keeps it 40px wide */
    height: 19px;       /* keeps it 40px tall */
    vertical-align: middle;  /* aligns with the text */
    margin-right: -5px;       /* space between logo and text */
    padding-bottom: 4px;
}

nav li {
    vertical-align: middle;
    display: inline;
    margin-left: 11px;
}

#navbar-text{
    font-size: 13pt;
    float: right;
  padding:15px 0 0 0
}
nav li a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s ease; 
}

nav li a:hover,
nav li a.current {
    color: #A41623;
    background-color: #f3b9cc; 
    border-radius: 5px;
    padding: 2px 4px;
}

.logo-link:hover,
.logo-link:active {
    background-color: transparent;  /* no pink */
    color: inherit;                 /* keep original color */
}
    
#name {

    font-size: 13pt;
    float: left;
  padding:1.1% 0% 0% 0%;
  word-spacing: 4px;
}

.flex-container {
    display: flex;
    justify-content: space-around;
}



footer {
    background-color: #f3b9cc;
    padding-top: 55px;
    padding-bottom: 50px;
    border-top: 3px dotted #d97b83;
    position: relative;
}

footer img {
    position: absolute;
    right: 192px;
    bottom: 28px;   /* adjust to place it nicely */
    width: 90px;    /* controls size */
    pointer-events: none; 
}

.external-icon {
    font-family: system-ui, sans-serif;
}

footer .all-footer-content {
    margin-left: 180px;

}

footer .footer-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* left align */
}

footer .footer-credit {
    font-size: 1.4rem; /* larger text */
    font-weight: 600;
    color: black;
    margin-bottom: 2px;

}

footer .love-made {
    font-size: 1.0rem;
    margin-bottom: 12px;
    color: black;

}

footer .heart {
    color: #A41623;
    padding: 0 3px;
}

footer .footer-links {
    display: flex;
    flex-direction: column; /* stack links */
    font-size: 1.3em;
    gap: 8px;
    text-align: left;
}

footer .footer-links a {
    color: #A41623;
    text-decoration: underline;
    font-weight: 500;
    border-radius: 5px; /* same as hover */
    transition: all 0.3s ease; 

 }
 
 
 footer .footer-links a:hover {
    color: #A41623;
    background-color: rgb(250, 227, 227);
    border-radius: 5px;
    padding: 2px 4px;
 }
 



#wrapper {
    text-align: center;
}

#wrapper h2, h3, p, footer {
    padding-left: 3.6%;
    padding-right: 3.6%;
}




fieldset {
    border-color: rgb(254, 212, 217);
    border-style: solid;
}
legend {
    text-align: left;
    font-size: 16pt;
    color: #A41623;
    font-weight: bold;
}
form li {
    list-style: none
}

#contact-form {
    width: 40%; 
    padding: 4% 16% 0% 0%; 
}

input[type="text"], input[type="email"], textarea[name="message"] {
    background-color: rgb(244, 175, 182);
    position: relative; left: 4px; top: -4px;
    border: 2px solid rgb(244, 175, 182);
    padding: 4%;
    border-radius: 12px;
    box-sizing: border-box;
}
textarea[name="message"] {
    margin: 0; 
    padding: 8px; 
    top: -57px;
}


input[type="text"] {
width: 200px;
height: 35px;
}

input[type="email"] {
    width: 445px;
    height: 35px;
}

textarea[name="message"] {
    width: 445px;
    height: 140px;
}

::placeholder {
    color: #A41623;
    font-size: 11pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

input[type="reset"], input[type="submit"]{
    color: white;
    background-color: #A41623;
    position: relative; left: 4px; top: -4px;
    border-radius: 20px;
    top: -20px;
    margin-right: 10px;
    margin-left: 10px;
    width: 22%;
    height: 30px;
    border: 2px solid #A41623;

}

input[type="reset"]:link, input[type="submit"]:link{
    text-decoration: none;
}

input[type="reset"]:hover, input[type="submit"]:hover{
    background-color: white;
    border: 2px solid white;
    color: #A41623;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease; 


}



form label {
    display: block;
    margin-bottom: 10px;
}


#form_description a{
    color: rgb(251, 127, 162);
}

#form_description a:hover{
    text-shadow: 1px 1px 4px rgb(154, 123, 130);
}



form {
    display: flex;
    flex-wrap: wrap;  
  }
  
  label {
    display: flex;
  }
  
  
  label[for="form_first_name"],  label[for="form_last_name"], label[for="form_email_address"], textarea[name="form_message_box"]{
    
    margin-right: 60%; 
  }

  #fullname {
    display: flex;
}

label[for="form_first_name"],
label[for="form_last_name"] {
    flex: 1;
    margin-right: 10%; 
}


input[type="text"] {
    flex: 1;
}

#confirmation {
    display: none;
    text-align: center;
    position: fixed;
    top: 48.5%;
    left: 68%; 
    transform: translate(-50%, -50%);
    background-color: #A41623; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#confirmation p {
    color: rgb(255, 196, 202);
    font-weight: bold;
}

.kirang-haerang-regular {
    font-family: "Kirang Haerang", system-ui;
    font-weight: 100;
    font-style: normal;
    text-transform: lowercase;
    color: #2b140d;

  }

  a#name.kirang-haerang-regular {
    font-size: 1.9rem; /* bigger and absolute */
}